[submodule "cpp"]
	path = cpp
	url = ./cpp
[submodule "go"]
	path = go
	url = ./go
[submodule "typescript"]
	path = typescript
	url = ./typescript
[submodule "javascript"]
	path = javascript
	url = ./javascript
[submodule "python"]
	path = python
	url = ./python
[submodule "rust"]
	path = rust
	url = ./rust
[submodule "zig"]
	path = zig
	url = ./zig
